* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 30px;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin-top: 60px;
  text-align: center;
}

nav ul li a {
  padding: 15px;
  background: #eee;
  border: 1px solid #ddd;
  margin-right: 30px;
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  background-color: black;
  color: white;
}

nav ul li a.active {
  background: black;
  color: white;
}

h1 {
  margin-top: 60px;
}

.emoji-box {
  box-shadow: 2px 1px 30px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  max-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 10px;
}
